.board {
  display: grid;
  aspect-ratio: 1 / 1;
  grid-template-columns: repeat(var(--num-columns), 1fr);
  grid-template-rows: repeat(var(--num-rows), 1fr);

  --color-background-odd: rgba(255, 255, 255, 0.13);
  --color-background-even: rgba(255, 255, 255, 0.87);
}

.board-cell-odd {
  --color-background-cell: var(--color-background-odd);
}

.board-cell-even {
  --color-background-cell: var(--color-background-even);
}

.board-cell {
  position: relative;
  background: var(--color-background-cell);
}

.board-cell.piece::before {
  content: var(--piece-content);
  color: var(--piece-color-main);
  -webkit-text-stroke: 1px var(--piece-color-outline);

  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-cell.piece-player-w {
  --piece-color-main: #fff;
  --piece-color-outline: #000;
}

.board-cell.piece-player-b {
  --piece-color-main: #000;
  --piece-color-outline: #fff;
}

.board-cell.piece-type-man {
  --piece-content: '♟';
}

.board-cell.piece-type-king {
  --piece-content: '♚';
}

